.header-box__color {
  color: #F36223;
 }

 .header-box__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;
  
  width: 1268px;
  height: 80px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (max-width: 1024px) {
  .header-box__main {
      width: 864px;
      height: 80px;
      gap: 10px;
  
      }
  }
  
  @media (max-width: 360px) {
      .header-box__main {
          width: 224.37px;
          height: 39px;
      
          }
      }

      .header-box__text {
        width: 1225.82px;
        height: 80px;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 1;
    }
    
    @media (max-width: 1024px) {
    .header-box__text {
        position: absolute;
        width: 821.11px;
        height: 80px;
        left: 57.89px;
        top: 0px;
        
    }
    }
    
    @media (max-width: 360px) {
        .header-box__text {
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            
            position: absolute;
            width: 192px;
            height: 39px;
            left: 41.37px;
            top: -10px;
            
        }
        }

        
        .header-box__name {
          position: absolute;
          width: 263px;
          height: 53px;
          left: 90px;
          top: 20px;
          
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 44px;
          line-height: 53px;
      }
      
      @media (max-width: 1024px) {
          .header-box__name {
              position: absolute;
              width: 263px;
              height: 53px;
              left: 0px;
              top: 18px;
              
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 44px;
              line-height: 53px;
          }
          }
      
          @media (max-width: 360px) {
              .header-box__name {
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 700;
                  font-size: 32px;
                  line-height: 39px;
              }
              }
      
              .header-box__color {
                color: #F36223;
               }
              
               .header-box__main {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 9px;
                
                width: 1268px;
                height: 80px;
                
                
                /* Inside auto layout */
                
                flex: none;
                order: 0;
                flex-grow: 0;
              }


              .header-box__icons {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 10px 0px;
                gap: 20px;
                
                width: 120px;
                height: 70px;
                
                flex: none;
                order: 1;
                flex-grow: 0;
            }
            
            @media (max-width: 1024px) {
                .header-box__icons {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 10px 0px;
                    gap: 20px;
                    
                    width: 120px;
                    height: 70px;
                }
            }
            
            @media (max-width: 360px) {
                .header-box__icons {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 10px 0px;
                    gap: 20px;
                    
                    width: 120px;
                    height: 70px;
                }
            }

            .heart-icon {
              width: 50px;
              height: 50px;
              left: -3px;
              /* Inside auto layout */
              
              flex: none;
              order: 0;
              flex-grow: 0;
          }

          .heart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            width: 26px;
            height: 20px;
            left: 24px;
            top: 20px;
            
            /* Carrot */
            
            background: #F36223;
            border-radius: 50px;
            position: relative;
        }

        .icon-text__heart {
    
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          /* identical to box height, or 100% */
          
          
          /* White */
          
          color: #FFFFFF;
          
          
          /* Inside auto layout */
          
          flex: none;
          order: 0;
          flex-grow: 0;
      }

      .icon-heart {
        content: "";
    
        background-image: url('../../public/assets/Header1.svg');
        background-repeat: no-repeat;
        background-position: center center;
    
        height: 49.67px;
        left: 0px;
        top: 0px;
    }


    .cart-icon {
      width: 160px;
      height: 50px;
  
      position: absolute;
      /* Inside auto layout */
      
      flex: none;
      order: 1;
      flex-grow: 0;
  }

  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 90px;
    top: 20px;
    
    /* Carrot */
    color: #FFFFFF;
    background: #F36223;
    border-radius: 50px;
}

.icon-text__cart {
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* White */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}


.icon-cart {
  content: "";


  background-image: url('../../public/assets/Header2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 50x;
  height: 90px;
  left: 0px;
  top: 0px;
}

.header-box__color {
  color: #F36223;
 }

 .header-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 51px;
  gap: 10px;
  
  position: fixed;
  width: 1500px;
  height: 80px;

  z-index: 1;
  background-color: #F8FAFE;



}

 @media (max-width: 1024px) {
  .header-box {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0px 15px;
      gap: 10px;
      
      position: fixed;
      width: 1024px;
      height: 80px;
      left: 0px;
      background-color: 
      #F8FAFE;
      
  
      }
  }
  
  @media (max-width: 1024px) {
      .header-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 8px 10px;
          gap: 10px;
          
          position: absolute;
          width: 360px;
          height: 55px;
          left: 0px;
          top: 0px;
          }
      }
      