
.main {
    position: relative;
}
.title {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 20px;
    gap: 10px;
    position: absolute;
    width: 539px;
    height: 59px;
    left: 50px;
    top: 126px;
}
@media (max-width: 1024px) {
    .title {
        left: 15px;
   }
}
@media (max-width: 360px) {
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 20px;
        gap: 10px;
        position: absolute;
        width: 340px;
        height: 78px;
        left: 8px;
        top: 101px;
   }
}
.title__item {
    width: 539px;
    height: 39px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .title__item {
        width: 340px;
        height: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
   }
}
.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 1396.83px;
    height: 387px;
    left: 50px;
    top: 195px;
}
@media (max-width: 1024px) {
    .images {
        width: 993.64px;
        height: 272px;
        left: 15px;
   }
}
.images__phone1 {
    width: 304.33px;
    height: 387px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone1 {
        width: 213.89px;
        height: 272px;
   }
}
.images__phone2 {
    width: 192.73px;
    height: 387px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone2 {
        width: 135.46px;
        height: 272px;
   }
}
.images__phone3 {
    width: 199.06px;
    height: 387px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone3 {
        width: 139.91px;
        height: 272px;
   }
}

@media (max-width: 360px) {
    .images__phone3 {
    display: none;
   }
}

.images__phone4 {
    width: 361.5px;
    height: 387px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone4 {
        width: 254.07px;
        height: 272px;
   }
}

@media (max-width: 360px) {
    .images__phone4 {
    display: none;
   }
}

.images__phone5 {
    width: 299.22px;
    height: 387px;
    flex: none;
    order: 4;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone5 {
        width: 210.3px;
        height: 272px;
   }
}

@media (max-width: 360px) {
    .images__phone5 {
    display: none;
   }
}

.main {
    margin-bottom: 100px;
}
.main__phone-intro-and-price-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
body {
    color:black;
    font-size: 18px;
    max-width: 1500px;
    font-family: "Inter";
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: #F8FAFE;
}
body {
    overflow-x: hidden;
}
@media (max-width: 1024px) {
    .body {
        width: 1024px;
        height: 2761px;
        max-width: 100%;
        overflow-x: hidden;
   }
}
@media (max-width: 360px) {
    .body {
        width: 360px;
        height: 3208px;
        overflow-x: hidden;
   }
}
.main {
    position: relative;
}

.link {
    text-decoration: none;
    color: #018ad2;
   /* Цвет ссылок */
}
.link:active {
    color: #A93A09;
}
.link:hover {
    color: #F36223;
   /* Цвет ссылок */
}
.ads__element {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .ads__element {
        width: 360px;
   }
}
@media (max-width: 360px) {
    .ads__element {
        display: none;
   }
}

.btn {
    display: flex;
    border-radius: 4px;
    border: 1px solid #888888;
   /* Рамка */
    background-color: white;
}
.characterics {
   /*Блок характеристик*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    position: absolute;
    width: 1400px;
    height: 1116px;
    left: 51px;
    top: 612px;
}
@media (max-width: 1024px) {
    .characterics {
        gap: 40px;
        width: 994px;
        height: 991px;
        left: 15px;
        top: 497px;
   }
}
@media (max-width: 360px) {
    .characterics {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        width: 360px;
        position: absolute;
        left: 8px;
        top: 490px;
   }
}
.characterics__main {
   /*Характеристики*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 880px;
    height: 1116px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
@media (max-width: 1024px) {
    .characterics__main {
        width: 594px;
        height: 991px;
   }
}
@media (max-width: 360px) {
    .characterics__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width: 338px;
        height: 1130px;
       /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
   }
}
.radio-button {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}
.radio {
    display: none;
}
.button-text {
    width: 52px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    white-space: nowrap;
}
.specifications {
    width: 417px;
    height: 198px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .specifications {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
        width: 339px;
        height: 200px;
   }
}
.specifications__head {
    position: absolute;
    left: 0px;
    top: 247px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
@media (max-width: 360px) {
    .specifications__head {
        position: revert;
        width: 171px;
        height: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: inherit;
   }
}
.specifications__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 417px;
    height: 164px;
    left: 0px;
    top: 263px;
    list-style-position: inside;
}
@media (max-width: 360px) {
    .specifications__list {
        position: revert;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 339px;
        height: 169px;
        display: inline-flex;
   }
}
.specifications__list li::before {
    content: "";
    display: inline-block;
    background-color: #888888;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin-right: 10px;
    left: 0;
}
@media (max-width: 360px) {
    .specifications__list li::before {
        content: "";
        display: inline-block;
        background-color: #888888;
        width: 8px;
        height: 8px;
        border-radius: 15px;
        margin-right: 10px;
   }
}
.specifications__element {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
}
@media (max-width: 360px) {
    .specifications__element {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: inline-block;
        padding-right: 24px;
   }
}
.specifications__element::marker {
    color: #888888;
}

.description {
   /*Контейнер описание*/
    width: 880px;
    height: 427px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .description {
        width: 594px;
        height: 516px;
   }
}
@media (max-width: 360px) {
    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
        width: 338px;
        height: 638px;
       /* Inside auto layout */
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
   }
}
.description__head {
   /*Описание*/
    position: absolute;
    width: 181.59px;
    height: 19px;
    left: 0px;
    top: 475px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;
    color: #000000;
}
@media (max-width: 360px) {
    .description__head {
        width: 338px;
        height: 2px;
        position: revert;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
   }
}
.description__paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 880px;
    height: 387px;
    left: 0px;
    top: 509px;
}
@media (max-width: 1024px) {
    .description__paragraphs{
        width: 594px;
        height: 482px;
   }
}
@media (max-width: 360px) {
    .description__paragraphs{
        width: 594px;
        height: 482px;
        position: revert;
   }
}
.description__paragraph {
    width: 382px;
    height: 96px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .description__paragraph{
        width: 338px;
        height: 96px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}
.description__item1 {
    width: 880px;
    height: 76px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .description__item1 {
        width: 594px;
        height: 114px;
   }
}
@media (max-width: 360px) {
    .description__item1{
        width: 338px;
        height: 170px;
        margin-top: -10px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
   }
}
.description__item2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .description__item2 {
        width: 594px;
        height: 95px;
   }
}
@media (max-width: 360px) {
    .description__item2{
        width: 345px;
        height: 119px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
   }
}
.description__item3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .description__item3 {
        width: 594px;
        height: 133px;
   }
}
@media (max-width: 360px) {
    .description__item3{
        width: 338px;
        height: 187px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
   }
}
.ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 642px;
   /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .ads {
        width: 360px;
        height: 637px;
   }
}
.ads__item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}
@media (max-width: 360px) {
    .ads {
        display: none;
   }
}
.ads__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 420px;
    height: 615px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 420px;
    height: 957px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .sidebar{
        width: 360px;
        height: 990px;
   }
}
@media (max-width: 360px) {
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        top: 10px;
        width: 338px;
        height: 275px;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}

.important {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .important {
        width: 360px;
        height: 313px;
   }
}
@media (max-width: 360px) {
    .important {
        box-sizing: border-box;
       /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        width: 338px;
        height: 275px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}
.important__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 377px;
    height: 73px;
   /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .important__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 317px;
        height: 73px;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}
@media (max-width: 360px) {
    .important__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 298px;
        height: 73px;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}
.important__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 132px;
    height: 73px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .important__price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 132px;
        height: 73px;
       /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
   }
}
.important__oldprice {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.important__text {
    width: 70px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.important__sale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
}
@media (max-width: 360px){
    .important__sale {
        margin-left: -4px;
    }
}
.important__saletext {
    width: 31px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.important__newprice {
    width: 140px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.important__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .important__delivery {
        width: 320px;
        height: 106px;
        flex: auto;
   }
}
@media (max-width: 360px) {
    .important__delivery {
        width: 320px;
        height: 106px;
        padding: 0px 0px 0px 0px;
        flex: auto;
   }
}
.important__pickup {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .important__pickup {
        width: 298px;
        height: 34px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
   }
}
.button-backet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 49px;
    gap: 15px;
    width: 380px;
    height: 64px;
   /* Carrot */
    background: #F36223;
    border-radius: 4px;
   /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .button-backet{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 49px;
        gap: 15px;
        width: 320px;
        height: 64px;
       /* Carrot */
        background: #F36223;
        border-radius: 4px;
       /* Inside auto layout */
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
   }
}
@media (max-width: 360px) {
    .button-backet{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 49px;
        gap: 15px;
        width: 298px;
        height: 54px;
       /* Carrot */
        background: #F36223;
        border-radius: 4px;
       /* Inside auto layout */
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
   }
}
.button-backet__add {
    width: 196px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
}
@media (max-width: 360px) {
    .button-backet__add{
        width: 157px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
       /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        text-align: center;
   }
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    position: relative;
    width: 760px;
    height: 635px;
    background: #FFFFFF;
}
.orders__text {
    width: 265px;
    height: 29px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.orders__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 608px;
    height: 516px;
}
.order__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 367px;
    height: 136px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.orders__listtext {
    width: 251px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 1396.83px;
    height: 387px;
    left: 50px;
    top: 195px;
}
@media (max-width: 1024px) {
    .images {
        width: 993.64px;
        height: 272px;
        left: 15px;
   }
}

@media (max-width: 360px) {
    .images {
        width: 360px;
   }
}

.images__phone1 {
    width: 304.33px;
    height: 387px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone1 {
        width: 213.89px;
        height: 272px;
   }
}
.images__phone2 {
    width: 192.73px;
    height: 387px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone2 {
        width: 135.46px;
        height: 272px;
   }
}
.images__phone3 {
    width: 199.06px;
    height: 387px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone3 {
        width: 139.91px;
        height: 272px;
   }
}
.images__phone4 {
    width: 361.5px;
    height: 387px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone4 {
        width: 254.07px;
        height: 272px;
   }
}
.images__phone5 {
    width: 299.22px;
    height: 387px;
    flex: none;
    order: 4;
    flex-grow: 0;
}
@media (max-width: 1024px) {
    .images__phone5 {
        width: 210.3px;
        height: 272px;
   }
}
.title {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 20px;
    gap: 10px;
    position: absolute;
    width: 539px;
    height: 59px;
    left: 50px;
    top: 126px;
}
@media (max-width: 1024px) {
    .title {
        left: 15px;
   }
}
@media (max-width: 360px) {
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 20px;
        gap: 10px;
        position: absolute;
        width: 340px;
        height: 78px;
        left: 8px;
        top: 101px;
   }
}
.title__item {
    width: 539px;
    height: 39px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .title__item {
        width: 340px;
        height: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
   }
}


.logo__size {
    position: absolute;
    width: 37.11px;
    height: 45px;
    left: -4px;
   /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .logo__size {
        position: absolute;
        width: 31.76px;
        height: 31px;
        left: -4px;
        top: -0.5px;
   }
}


.container {
    height: 2874px;
}

@media (max-width: 1024px){
    .container {
        height: 2650px;
    }
}

@media (max-width: 360px){
    .container {
        height: 3044px;
    }
}


.table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    position: absolute;
    width: 1400px;
    height: 957px;
    left: 51px;
    top: 1545px;
}
.table__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;
}
.table__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 880px;
    height: 387px;
    left: 0px;
    top: 509px;
}
.models {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 876px;
    height: 190px;
   /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    white-space: nowrap 
}
@media (max-width: 1024px) {
   .models {
        display: none;
   }
}
.models__head {
    width: 164px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.models__table {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 876px;
    height: 156px;
    border: 1px solid #888888;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-collapse: collapse 
}
.models__header {
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.models__model {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 94px;
    height: 39px;
}
.models__weight {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 112px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__height {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__width {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 86px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__thickness {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 93px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__processor {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 135px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__memory {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 138px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__battery {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 128px;
    height: 39px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.models__cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.models__table1 {
    display: flex;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.models__table2 {
    display: flex;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.models__table3 {
    display: flex;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.models__bottom {
    border-bottom: none;
}
.models__hover:hover {
    background:#F2F2F2;
    cursor: default;
}
.models__border {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}
.models__bottom-border {
    border-bottom: 1px solid #888888;
}
.models__right-border {
    border-right: 1px solid #888888;
}
.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    height: 30px;
    width: 30px;
    fill: #FFD017;
}
@media (max-width: 1024px) {
    .full-stars label svg {
        width: 20px;
        height: 20px;
   }
}
.full-stars input:checked ~ label svg {
    fill: #888888;
}
.full-stars .rating-group:hover label svg {
    fill: #FFD017;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #888888;
}
.hide {
    display: none;
    height: 50px;
}


.description__paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 880px;
    height: 387px;
    left: 0px;
    top: 509px;
}
@media (max-width: 1024px) {
    .description__paragraphs{
        width: 594px;
        height: 482px;
   }
}
@media (max-width: 360px) {
    .description__paragraphs{
        width: 360px;
        height: 482px;
        position: revert;
   }
}
.description__paragraph {
    width: 382px;
    height: 96px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
@media (max-width: 360px) {
    .description__paragraph{
        width: 338px;
        height: 96px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
       /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
   }
}
