.body {
    color:black;
    font-size: 18px;
    max-width: 1500px;  
    font-family: sans-serif;
    margin: 0 auto;

    position: relative;
    width: 1500px;
    height: 2297px;
    
    background: #F8FAFE;

}

.link {
    text-decoration: none;
    color: #018ad2; /* Цвет ссылок */
}

.link:hover {
    color: #c00; /* Цвет ссылок */
}

.ads__element {
    border-width: 1px;
    border-style: dashed;
    border-color: #ccc;
}

.color_text {
    color: #F36223;
   }

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    
    position: absolute;
    width: 558px;
    height: 35px;
    left: 50px;
    top: 91px;
}

.breadcrumbs__text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #008CF0;
}

.breadcrumbs__text a:hover {
    color:#F36223;
}

.breadcrumbs__blacktext {
    color:#000000;
}

.button {
    display: flex;
    border-radius: 4px;
    border: 1px solid #888888; /* Рамка */
    background-color: white;
}

.characterics { /*Блок характеристик*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;

    position: absolute;
    width: 1400px;
    height: 957px;
    left: 51px;
    top: 612px;
    

}

.characterics__main {  /*Характеристики*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    
    width: 880px;
    height: 896px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.characterics__color { /*Цвет товара*/
    width: 530px;
    height: 114px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.characterics__title { /*Текст товара (контейнер)*/

    margin: 0;
    margin-bottom: 15px; /* Задает отступ 15 px*/
    font-family: sans-serif; /* Шрифт */
    font-size: 16px; /* Размер шрифта, указанного в макете */
    font-weight: 700;  /* Выравнивание по вертикали */
    line-height: 19px; /* Выравнивание по горизонтали */
}

.characterics__list { /*Выбор цвета*/

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
}

.square-imgae { /* Выбор цвета */
    align-items: center; /* Выравнивание по высоте (центр) */
    justify-content: center; /* Выравнивание по ширине (центр) */
    width: 80px; /* Ширина элемента */
    height: 80px; /* Высота элемента */

    box-sizing: border-box;
    gap: 10px; /* Отступ между элементами */
}

.square-imgae:hover {
    background: #F2F2F2;;
}
.square-imgae:focus {
    border: 2px solid #F36223;
}


.configuration {
    width: 298px;
    height: 73px;
}

.configuration__title {
    font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.configuration_button__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.configuration__button {
    background-color: #FFFFFF;

    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

}

.configuration__button:hover {
    background: #F2F2F2;
}

.configuration__button:focus {
    outline: 1px solid #F36223;
    border: 1px solid #F36223;
}

.configuration__main_text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
}

.product-characteristics {
    width: 417px;
    height: 198px;
}

.product-characteristics__title {
    font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


.product-characteristics__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    margin-left:20px;
}

.product-characteristics__element {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.product-characteristics__element::marker {
    color: #888888;
}

.description { /*Контейнер описание*/
    width: 880px;
    height: 421px;
    
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.description__title {  /*Описание*/
    width: 181.59px;
    height: 19px;
    left: 0px;
    top: 475px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;

    color: #000000;
}

.description__paragraphlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 15px;
    
    width: 880px;
    height: 387px;
    left: 0px;
    top: 509px;
}

.description__paragraph {

    width: 382px;
    height: 95px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.description__item {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 420px;
    height: 642px;
}

.ads__item {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #888888;
}

.ads__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    
    width: 420px;
    height: 615px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    width: 420px;
    height: 957px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sidebar__wrapper {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    
    width: 420px;
    height: 275px;
    
    /* White */
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sidebar__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 132px;
    height: 73px;
}

.sidebar__oldprice {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 123px;
    height: 24px;
}

.sidebar__text {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    text-decoration-line: line-through;

    color: #888888;
}

.sidebar__sale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    
    background: #F36223;
    border-radius: 500px;
}

.sidebar__saletext {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
 
    color: #FFFFFF;
}

.sidebar__newprice {    
    width: 132px;
    height: 39px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.sidebar__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
    
    width: 380px;
    height: 68px;
}

.sidebar__delivery-date {
    width: 380px;
    height: 19px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.button-backet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 92px;
    gap: 10px;
    
    width: 380px;
    height: 64px;

    background: #F36223;

    border: solid 0px;
}

.button-backet__add {
    width: 196px;
    height: 24px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}

.button-backet:hover {
    background: #DA4A0C;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    
    position: relative;
    width: 760px;
    height: 635px;

    background: #FFFFFF;
}

.orders__text {
    width: 265px;
    height: 29px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.orders__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    
    width: 608px;
    height: 516px;
    
}

.order__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 367px;
    height: 136px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.orders__listtext {
    width: 251px;
    height: 19px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}



.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 1396.83px;
    height: 387px;
    left: 50px;
    top: 195px;
}

.images__phone1 {
    width: 304.33px;
    height: 387px;
}

.images__phone2 {
    width: 192.73px;
    height: 387px; 
}

.images__phone3 {
    width: 199.06px;
    height: 387px; 
}

.images__phone4 {
    width: 361.5px;
    height: 387px;
}

.images__phone5 {
    width: 299.22px;
    height: 387px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;

    position: absolute;
    width: 539px;
    height: 59px;
    left: 50px;
    top: 126px;    
}

.title__item {
    width: 539px;
    height: 39px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 51px;
    gap: 10px;
    
    position: absolute;
    width: 1500px;
    height: 80px;
    left: 0px;
    top: 1px;    
}

.header__main {
    width: 1398px;
    height: 80px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    position: absolute;
    width: 36.5px;
    height: 43px;
    left: 51px;
    top: 30px    
}

.header_text {
    position: absolute;
    width: 1351.5px;
    height: 80px;
    left: 97.5px;
    top: 0px;    
}

.header_text_main {
    position: absolute;
    width: 263px;
    height: 53px;
    left: 10px;
    top: 30px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    
    position: absolute;
    width: 1400px;
    height: 957px;
    left: 51px;
    top: 1545px;
}

.table__title {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 15px;   
}

.table__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 15px;
    
    width: 880px;
    height: 387px;
    left: 0px;
    top: 509px;
}

.models_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1400px;

    left: 51px;
    top: 1600px;
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    position: absolute;
    left: 51px;
    top: 1569px;    
}

.review-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 880px;
    height: 39px;
}

.review-section__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.review-section__title {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.review-section__count {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #888888;
}


.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    height: 30px;
    width: 30px;
    fill: #FFD017;
}
.full-stars input:checked ~ label svg {
    fill: #888888;
}
.full-stars .rating-group:hover label svg {
    fill: #FFD017;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #888888;
}

.review__btn {
    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    
    width: 168px;
    height: 39px;
}

.review__btn:hover {
    background:#F0F0F0;
    transition: all 0.3s;
}

.review__add {
    width: 128px;
    height: 19px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.review-section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    width: 880px;
    height: 510px;
}

.review__photo {
    width: 140px;
    height: 140px;
    
    background: url(review-1);
    border-radius: 100px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.review__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.review__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.review_username {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.review_rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    width: 150px;
    height: 30px;
}

.review__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.review__experience {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.review__advantages {
 

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.review__disadvantages {

    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
    
}

.reviews__separator {

    box-sizing: border-box;
    width: 880px;
    height: 1px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.review__wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    
    position: absolute;

    left: 0px;
    top: 2200px;
    
    background: #F2F2F2;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 1400px;
    height: 111px;
}

.footer__info {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
}

.footer__info2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
}

.footer__up {
    width: 58px;
    height: 19px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #008CF0;
}